unbind C-a
unbind C-b
set -g prefix C-a
bind C-a send-prefix
set -g mouse on

# No delay for escape key press
set -sg escape-time 0
set -g default-terminal "screen-256color"
set-option -g default-shell /bin/bash

bind-key m copy-mode
setw -g mode-keys vi

# Reload tmux config
bind r source-file ~/.tmux.conf
unbind '"'
unbind '%'

# Move in window

bind-key C-p next-window
bind-key p next-window

bind-key C-o previous-window
bind-key o previous-window

# Resize
bind-key J resize-pane -D 10
bind-key K resize-pane -U 10
bind-key H resize-pane -L 10
bind-key L resize-pane -R 10
bind-key R rotate-window

bind-key h  select-pane -L
bind-key j  select-pane -D
bind-key k  select-pane -U
bind-key l  select-pane -R

# Getting back old copy paste behavior
setw -g mouse off

# Open last ag search with line number in clipboard (xclip -o)
bind-key a send-keys "~/.dotfiles/./open-vim.sh" Enter

# bind ù split-window -h -c '#{pane_current_path}'
bind * split-window -v -c '#{pane_current_path}'
bind v split-window -h -c '#{pane_current_path}'

set -g pane-border-fg white
set -g pane-active-border-fg colour2

setw -g window-status-current-fg colour232
setw -g window-status-current-bg colour2

set -g status-bg colour235
set -g status-fg colour231
set -g status-interval 1
set -g status-left "[#S (#T)] "
set -g status-left-length 120
set -g status-right-length 200

{{- if eq .chezmoi.os "darwin" }}
# Macos
set -g status-right \
"| #(ps -m -e -o pmem,comm | tail -n +2\
 | head -1 | awk '{printf(\"%%50s %%5s\", substr($2, 0, 50), $1)}') %%RAM\
 | #(ps -r -e -o pcpu,comm | tail -n +2 | head -1\
 | awk '{printf(\"%%50s %%5s\", substr($2, 0, 50), $1)}') %%CPU |"
{{- end }}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
# Ubuntu 18.04
set -g status-right \
"| #(ps --sort pmem -e -o pmem,comm | tail -1\
 | awk '{printf(\"%%30s %%3s\", substr($2, 0, 30), $1)}') %%RAM\
 | #(ps --sort pcpu -e -o pcpu,comm | tail -1\
 | awk '{printf(\"%%30s %%3s\", substr($2, 0, 30), $1)}') %%CPU |"
{{- end }}

{{- if eq .chezmoi.osRelease.id "fedora" }}
# Fedora 29
set -g status-right \
"| #(ps -e -o pmem,comm --sort pmem | tail -1\
 | awk '{printf(\"%%30s %%5s\", substr($2, 0, 30), $1)}') %%RAM \
 | #(ps -e -o pcpu,comm --sort pcpu | tail -1\
 | awk '{printf(\"%%30s %%5s\", substr($2, 0, 30), $1)}') %%CPU |"
{{- end }}

run '~/.tmux/plugins/tpm/tpm'
